<!DOCTYPE html>
{% if site.lang %}
  <html lang="{{ site.lang }}">
{% else %}
  <html lang="en">
{% endif %}
<head>
  {% include common/favicon.html %}
  {% include common/fontawesome.html %}
  {% include common/style.html %}
</head>
<body>
  {% include common/nav.html %}

  {% include anathema.html %}

  <main class="page-not-found">{{ content }}</main>

  <load-html src="/common/footer.html"></load-html>

  {% include common/analytics.html %}
  {% include common/js-bundle.html %}
</body>
</html>
