  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="//{{ site.domain }}">{{ site.description }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if page.title == "Blog" %}class="active"{% endif %}><a href="//{{ site.domain }}/blog">Blog</a></li>
          <li {% if page.title == "Software" %}class="active"{% endif %}><a href="//{{ site.domain }}/software">Software</a></li>
        </ul>
      </div>
    </div>
  </nav>
