<!-- _includes/posts_list.html start -->
{% assign package = site.data.package %}
<div class="list-group">
  {% for post in site.posts limit:{{include.limit}} %}
  <a href="/{{ package.name }}{{ post.url }}" class="list-group-item">
      <article>
        <header>
          <h1>{{ post.title }}</h1>

          <p class="lead">{{ post.description }}</p>

          <time datetime="{{ post.date }}" class="badge">{{ post.date | date: "%F" }}</time>
        </header>
      </article>
    </a>
  {% endfor %}
</div>
<!-- _includes/posts_list.html end -->
